
#title {
  background-color: #ff4c68;
  font-family: "Montserrat-Black", sans-serif;
  line-height: 1.5;
  size: 3rem;
  color: white;
  display: block;
  padding-bottom: 19%;
}

.container-fluid {
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
}
#img-iphone {
  /* z-index: -1; */
  transform: rotate(30deg);
  width: 20%;
  position: absolute;
  margin-top: 3%;
  margin-left: 5%;
}

.navbar {
  padding: 0px 0px 4.5rem;
}
.nav-item {
  padding: 0px 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.download-button {
  margin: 2% auto;
}

#features {
  /* display: block; */
  padding: 7% 15%;
  z-index: 1;
  background-color: #fff;
  position: relative;
}

h3 {
  font-family: "Ubuntu";
  font-weight: bold;
  color: black;
}
p {
  color: #8f8f8f;
  font-size: 1.4rem;
}

.features-box {
  font-family: "Montserrat";
  font-size: 1.5rem;
  text-align: center;
  padding: 4.5%;
}
.icons {
  display: block;
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.icons:hover {
  color: #ff4c68;
}

#testimonials {
  padding: 3% 5% 3% 5%;
  background-color: #ff4c68;
  font-family: "Ubuntu";
  font-size: 1rem;
  text-align: center;
  color: white;
  position: relative;
  /* display: block; */
}

.img-press {
  height: 50px;
  margin-top: 5%;
}

.img-carousel {
  border-radius: 50%;
  height: 120px;
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
}

em {
  display: block;
}

#pricing {
  margin: 4% 3%;
  padding: 3% 0%;
  text-align: center;
}

.card-pricing {
  margin: 4% 0;
}

.border-pink {
  border-color: #ff4c68;
  border-radius: 10%;
  border-width: 5px;
}

.card-header-pink {
  background-color: #ff4c68;
  border-color: #ff4c68;
  color: aliceblue;
  font-family: "Ubuntu";
  margin: 0 auto;
}

.hover-pink:hover {
  border-color: #ff4c68;
  background-color: rgb(255, 40, 76);
}

 #cta {
  text-align: center;
  margin: 1% auto;
  background-color: #ff4c68;
  font-family: "Montserrat-Black";
  font-size: 3rem;
  color: white !important;
  letter-spacing: 2px;
  padding: 1%;
}

.footer {
  background-color: #fff;
  text-align: center;
  color: black;
  margin: auto 0;
 
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  #img-iphone {
    /* z-index: -1; */
    transform: rotate(0deg);
    width: 40%;
    /* position: absolute; */
    margin: 0 15%;
    padding: 0;
    display: block;
  }
  #title {
    background-color: #ff4c68;
    font-family: "Montserrat-Black", sans-serif;
    line-height: 1.5;
    size: 3rem;
    color: white;
    display: block;
    padding-bottom: 85%;
    margin: 0 auto;
  }
  .txt-center {
    text-align: center;
  }
}
