#title {
  background-color: #ff4c68;
  font-family: "Montserrat-Black", sans-serif;
  line-height: 1.5;
  size: 3rem;
  color: white;
}

.container-fluid {
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
}
#img-iphone {
  z-index: -1;
  transform: rotate(35deg);
  width: 50%;
}

.navbar {
  padding: 0px 0px 4.5rem;
}
.nav-item {
  padding: 0px 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.download-button {
  margin: 5% 3% 5% 0;
}

#features {
  padding: 7% 15%;
}

h3 {
  font-family: "Ubuntu";
  font-weight: bold;
  color: black;
}
p {
  color: #8f8f8f;
  font-size: 1.4rem;
}

.features-box {
  font-family: "Montserrat";
  font-size: 1.5rem;
  text-align: center;
  padding: 4.5%;
}
.icons {
  display: block;
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.icons:hover {
  color: #ff4c68;
}

#testimonials {
  padding: 3% 5% 3% 5%;
  background-color: #ff4c68;
  font-family: "Ubuntu";
  font-size: 1rem;
  text-align: center;
  color:white;
}


.img-press {
  height: 50px;
  margin-top: 5%;
}

.img-carousel {
  border-radius: 50%;
  height: 120px;
  max-width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
}

em{
  display: block;
}

